body {
	font-size: 14px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../../public/assets/field.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
	color: $textColour;
}

h1, h2, h3, label {
	font-family: $headingFont;	
}

h1 {
	text-align: center;
	font-size: 3rem;
}

p {
	font-family: $textFont;
	color: $textColour;
}

input, textarea {
	color: $headerColour;
}

img {
	width: 100%;
	display: block;
}

a {
	text-decoration: none;

	&:hover, &:focus {
		font-weight: 700;
	}
}

ul, li {
	list-style: none;
	padding: 0;
}

button {
	padding: 10px 0;
	margin: 5px;
	border-radius: 5px;
	background: $buttonColour;
	display: block;
	font-weight: bold;
}

input, textarea {
	border-style: none;
}

input, label, select, textarea {
	margin-top: 15px;
}

input, textarea, select {
	padding: 5px;
}

input, textarea, select, button {
	border-radius: 3px;
}

textarea {
	resize: none;
}

label {
	color: $labelColour;
}

.wrapper { 
	width: 1170px;
	margin: 0 auto;
}

