@media (max-width: 1200px){
	.radioContainer {
		display: flex;
	}

	li {
		width: calc(50% - 10px);

		&:nth-child(even){
			margin-right: 0;
		}
	}

	.wrapper {
		width: 640px;
	}

	main {
		padding: 60px;
	}

	h1 {
		font-size: 2rem;

		a {
			font-size: 2rem;
		}
	}
}

@media (max-width: 768px){
	.wrapper {
		width: 360px;
	}

	#hamburger {
		display: block;
	}
	
	li {
	width: 100%;
	margin-right: 0;
		&:nth-child(even){
			margin-right: 0;
		}
	}

	main {
		padding: 25px;
		padding-bottom: 0;
		min-height: calc(100vh - 225px);
	}

	.appContainer {
		flex-direction: column;
	}

	aside, main {
		width: 100%;
	}

	.aside {
		flex-direction: row;
		justify-content: space-between;
		min-height: 100px;
		flex-direction: column;
		position: absolute;
		width: 100%;
		min-height: 200px;
		left: 0;
		top: -300px;
		padding: 0;
		padding-bottom: 30px;
		background: rgba(0,0,0,0.8);
		transition: 0.5s ease-in-out;

		button{
			margin: 10px 0;
		}

		&.open {
			top: 0;
		}
	}
	
	.buttonBox {
		display: flex;
		flex-direction: column;

		button {
			margin: 10px 0;
			// background: none !important;
		}
	}

	.user-profile {
		width: 50px;
		height: 50px;
		margin-bottom: 20px;

		p {
			font-size: 0.7rem;
			color: white;
			margin-top: 0;
		}
	}
}

@media (max-width: 480px){
	.wrapper {
		width: 240px;
	}

	.user-profile {
		margin-left: auto;

		p {
			color: $textColour;
			margin-top: 5px;
		}
	}
	
	main {
		min-width: 300px;
	}
	
	.middleLine {
		flex-direction: column;
	}

	li {
		width: 100%;

		&:nth-child(even), &:nth-child(odd){
			margin-right: 0;
		}
	}
}