article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../../public/assets/field.jpg");
  background-size: cover; }

h1, h2, h3, p {
  padding: 0;
  margin: 0;
  color: #FBFEF9; }

h1, h2, h3, label {
  font-family: "Patua One", cursive; }

h1 {
  text-align: center;
  font-size: 3rem; }

p {
  font-family: "Open Sans", sans-serif;
  color: #FBFEF9; }

input, textarea {
  color: #131B23; }

img {
  width: 100%;
  display: block; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    font-weight: 700; }

ul, li {
  list-style: none;
  padding: 0; }

button {
  padding: 10px 0;
  margin: 5px;
  border-radius: 5px;
  background: #0E79B2;
  display: block;
  font-weight: bold; }

input, textarea {
  border-style: none; }

input, label, select, textarea {
  margin-top: 15px; }

input, textarea, select {
  padding: 5px; }

input, textarea, select, button {
  border-radius: 3px; }

textarea {
  resize: none; }

label {
  color: #e7dfc6; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }

header {
  padding: 20px;
  background: #131B23;
  color: white;
  box-shadow: 0px 0px 8px 2px red;
  height: 130px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
  position: relative; }

.buttonBox {
  display: flex;
  justify-content: space-between; }

#hamburger {
  width: 60px;
  height: 45px;
  transform: rotate(0deg);
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 10;
  display: none; }
  #hamburger span {
    background: #FBFEF9;
    display: block;
    position: absolute;
    width: 100%;
    height: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center; }
    #hamburger span:first-child {
      top: 0; }
    #hamburger span:nth-child(2) {
      top: 18px; }
    #hamburger span:last-child {
      top: 36px; }
  #hamburger.open span:first-child {
    transform: rotate(45deg);
    top: -3px;
    left: 8px; }
  #hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  #hamburger.open span:last-child {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px; }

.intro {
  margin: 100px auto;
  text-align: center;
  border: 5px solid #131B23;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  padding: 20px; }
  .intro h1, .intro p {
    color: #131B23; }
  .intro h1 {
    margin-bottom: 20px; }
  .intro p:nth-child(4) {
    margin: 10px; }
  .intro p:nth-child(2), .intro p:nth-child(5) {
    margin-bottom: 10px; }

.leaflet-container {
  height: 100%;
  width: 100%;
  border: 5px solid #131B23;
  border-radius: 5px; }

#map {
  height: 500px;
  width: 100%;
  margin: 0 auto; }

.user-profile {
  width: 80px;
  margin-top: 20px;
  margin-left: 10px; }
  .user-profile img {
    border-radius: 50%;
    z-index: 10; }
  .user-profile p {
    z-index: 10; }

.aside {
  color: white;
  min-width: 160px;
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px; }
  .aside button {
    margin: 5px;
    min-width: 120px;
    color: white;
    border: none; }
  .aside .loginBtn {
    background: #95C623; }
  .aside .logoutBtn {
    background: #EC4E20; }
  .aside p {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
    color: #FBFEF9; }

main {
  min-width: 480px;
  width: 100%;
  padding: 100px;
  padding-top: 60px;
  color: white; }

.appContainer {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 100px); }

.mapBtn {
  margin: 5px auto;
  margin-top: 10px;
  padding: 5px; }

.redBtn {
  background: darkred; }

.greenBtn {
  background: lightgreen; }

form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 800px; }
  form button {
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    color: white;
    border: none; }

.radioContainer {
  margin: 10px; }
  .radioContainer label {
    margin-right: 50px;
    margin-left: 10px; }

.radioBox {
  width: 100px; }

.middleLine {
  display: flex;
  align-items: center; }
  .middleLine label {
    margin-right: 20px; }

#eventCap {
  margin-right: 40px; }

label[for="eventCap"] {
  margin-top: 20px; }

.gameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .gameContainer label {
    margin-right: 20px; }
  .gameContainer input {
    flex: 1 0 auto; }

label[for="eventDetails"] {
  margin-top: 20px; }

#mapCentre {
  margin-bottom: 20px;
  font-size: 1.4rem;
  padding: 10px;
  border: 5px solid #131B23; }

ul {
  display: flex;
  flex-wrap: wrap; }

li {
  border: 5px solid #131B23;
  border-radius: 5px;
  padding: 20px;
  width: calc(25% - 15px);
  background: rgba(255, 255, 255, 0.9);
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  li h2, li p {
    color: #131B23; }
  li:nth-child(4n) {
    margin-right: 0; }
  li:nth-child(even) {
    margin-bottom: 20px; }
  li button {
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px; }
  li em {
    text-transform: capitalize; }

.eventDetails {
  margin: 20px 0; }

.buttonContainer {
  display: flex;
  justify-content: space-around; }
  .buttonContainer button.joined {
    background: grey;
    color: lightgrey; }

footer {
  height: 100px;
  background-color: rgba(19, 27, 35, 0.8);
  width: 100%; }
  footer a {
    margin-right: 40px; }

.footLinks {
  margin: 0 auto;
  padding: 40px;
  display: block;
  min-width: 200px; }

i, a {
  color: #FBFEF9; }

@media (max-width: 1200px) {
  .radioContainer {
    display: flex; }
  li {
    width: calc(50% - 10px); }
    li:nth-child(even) {
      margin-right: 0; }
  .wrapper {
    width: 640px; }
  main {
    padding: 60px; }
  h1 {
    font-size: 2rem; }
    h1 a {
      font-size: 2rem; } }

@media (max-width: 768px) {
  .wrapper {
    width: 360px; }
  #hamburger {
    display: block; }
  li {
    width: 100%;
    margin-right: 0; }
    li:nth-child(even) {
      margin-right: 0; }
  main {
    padding: 25px;
    padding-bottom: 0;
    min-height: calc(100vh - 225px); }
  .appContainer {
    flex-direction: column; }
  aside, main {
    width: 100%; }
  .aside {
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
    flex-direction: column;
    position: absolute;
    width: 100%;
    min-height: 200px;
    left: 0;
    top: -300px;
    padding: 0;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out; }
    .aside button {
      margin: 10px 0; }
    .aside.open {
      top: 0; }
  .buttonBox {
    display: flex;
    flex-direction: column; }
    .buttonBox button {
      margin: 10px 0; }
  .user-profile {
    width: 50px;
    height: 50px;
    margin-bottom: 20px; }
    .user-profile p {
      font-size: 0.7rem;
      color: white;
      margin-top: 0; } }

@media (max-width: 480px) {
  .wrapper {
    width: 240px; }
  .user-profile {
    margin-left: auto; }
    .user-profile p {
      color: #FBFEF9;
      margin-top: 5px; }
  main {
    min-width: 300px; }
  .middleLine {
    flex-direction: column; }
  li {
    width: 100%; }
    li:nth-child(even), li:nth-child(odd) {
      margin-right: 0; } }
